<% content_for :javascript do %>
  <script>
    $(function() {
      $("#organization-fields").hide();
      $("#user-fields").hide();
      $("#ticket-fields").hide();
    });
    $("#organization-select").click(function(event) {
      $("#organization-fields").toggle();
    });
    //Allow user to submit search criteria
    $("form").submit(function (event) {event.preventDefault();
      // let searchTerm = ($(this).serializeArray());
      // console.log("Search Term criteria: " + searchTerm.org_criteria);
      // $.get("/org_search/", { organization: {
      //     org_criteria: searchTerm.org_criteria, 
      //     org_value: searchTerm.org_value }
      // }).success(function(data) {
      //   $("#results").html(data);
      // });
    });
  </script>
<% end %>

<h1>What are you searching for?</h1>

<button id="organization-select">An Organization</button>
<button id="user-select">A User</button>
<button id="ticket-select">A Ticket</button>

<div id="organization-fields" >
  <h2>What are you searching with?</h2>
  <!-- Create Ruby form with radio buttons and labels
    https://guides.rubyonrails.org/form_helpers.html -->
  <%= form_with(url: "/org_search/", method: "get", remote: true) do %>
    <%= radio_button_tag(:org_criteria, "_id") %>
    <%= label_tag(:_id, "Organization ID") %>
    <%= radio_button_tag(:org_criteria, "url") %>
    <%= label_tag(:url, "URL") %>
    <%= radio_button_tag(:org_criteria, "external_id") %>
    <%= label_tag(:external_id, "External ID") %>
    <%= radio_button_tag(:org_criteria, "name") %>
    <%= label_tag(:name, "Name") %>
    <%= radio_button_tag(:org_criteria, "domain_names") %>
    <%= label_tag(:domain_names, "Domain name") %>
    <%= radio_button_tag(:org_criteria, "created_at") %>
    <%= label_tag(:created_at, "Created date") %>
    <%= radio_button_tag(:org_criteria, "details") %>
    <%= label_tag(:details, "Details") %>
    <%= radio_button_tag(:org_criteria, "shared_tickets") %>
    <%= label_tag(:shared_tickets, "Shared Tickets") %>
    <%= radio_button_tag(:org_criteria, "tags") %>
    <%= label_tag(:tags, "Tags") %>
    <br /><br />
    <%= label_tag(:org_value, "Search for:") %>
    <%= text_field_tag(:org_value) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div id="user-fields">
  <h2>What are you searching with?</h2>
  <ul>
    <li>User ID</li>
    <li>URL</li>
    <li>External ID</li>
    <li>Name</li>
    <li>Alias</li>
    <li>Created date</li>
    <li>Active</li>
    <li>Verified</li>
    <li>Shared</li>
    <li>Locale</li>
    <li>Timezome</li>
    <li>Last login</li>
    <li>Email</li>
    <li>Phone</li>
    <li>signature</li>
    <li>Organization ID</li>
    <li>Tags</li>
    <li>Suspended</li>
    <li>Role</li>
  </ul>
</div>

<div id="ticket-fields">
  <h2>What are you searching with?</h2>
  <ul>
    <li>Ticket ID</li>
    <li>URL</li>
    <li>External ID</li>
    <li>Created date</li>
    <li>Type</li>
    <li>Subject</li>
    <li>Description</li>
    <li>Status</li>
    <li>Submitter ID</li>
    <li>Assignee ID</li>
    <li>Organization ID</li>
    <li>Tags</li>
    <li>Has incidents?</li>
    <li>Due date</li>
    <li>Submitted via</li>
  </ul>
</div>

<div id="results">
</div>